<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubVenture- Contact</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo" onclick="navigateTo('index.html')">ClubVenture</div>
            <ul>
                <li><a href="javascript:void(0);" onclick="navigateTo('index.html')">Home</a></li>
                <li><a href="javascript:void(0);" onclick="navigateTo('about.html')">About</a></li>
                <li><a href="javascript:void(0);" onclick="navigateTo('contact.html')">Contact</a></li>
                <li><a href="javascript:void(0);" onclick="navigateTo('applications.html')">Applications</a></li>
                <li><a href="javascript:void(0);" onclick="navigateTo('ourteam.html')">Our Team</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="applications">
            <h1>Our Applications</h1>
            <p>This is the our team page content.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 ClubVenture. All rights reserved.</p>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>